body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.scoreboard {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#playerNameSide1, #playerNameSide2 {
    font-weight: bold;
    color: #2980b9;
}

#pointSide1, #pointSide2 {
    font-weight: bold;
    color: #e74c3c;
}

.updateTime
{
    font-size: 12px;
    color: #7f8c8d;
    text-align: right;
    margin-top: 10px;
}